{% load static i18n %}
<!--=====JS=======-->

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/fontawesome.js' %}"></script>
<script src="{% static 'js/jquery.countup.js' %}"></script>
<script src="{% static 'js/mobile-menu.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick-slider.js' %}"></script>
<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/Splitetext.js' %}"></script>
<script src="{% static 'js/text-animation.js' %}"></script>
<script src="{% static 'js/SmoothScroll.js' %}"></script>
<script src="{% static 'js/tilt.jquery.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
